#!/bin/bash

# Secrets and configuration variables
export SYNAPSE_SERVER_DOMAIN_NAME="your domain name"
# AWS backup account access key
export AWS_ACCESS_KEY_ID="your access key"
# AWS backup account secret access key
export AWS_SECRET_ACCESS_KEY="your secret key"
export AWS_BACKUP_ACCOUNT_S3_BUCKET_NAME="your bucket name"
export KEEP_HISTORY_FOREVER=true  # Set to false if you do not want to keep history forever

# Email settings to notify in case of errors
export ALERT_EMAIL="your_email@example.com"  # Replace with your email
export EMAIL_SUBJECT="Matrix Synapse Backup Failed"
export EMAIL_BODY="The Matrix Synapse backup script encountered an error and failed to complete."
export EMAIL_FROM="no-reply@yourdomain.com"  # Replace with a valid email address
export EMAIL_PASSWORD="password"
export MAILHUB="smtp.gmail.com:587"

export LOG_FILE="/tmp/matrix_synapse_backup_error.log"
